@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
   background-image: url('/assets/bg.png');
   height: 2591px;
   width: 1440px;
}
body>header, main{
   padding: 0 140px;
   padding-right: 140px;
}
/* Shared Style */
.display-flex{
   display: flex;

}

/* Header style */
/* Nav-Bar style */
.nav-bar{
   justify-content: space-around;
}
.nav-container{
 height: 62px;
 width: 202px;
 align-items: center;
}
.logo{
   max-width: 62px;
   max-width: 62px;
}
.nav-header{
   justify-items: first baseline;
   font-size: 2rem;
   font-weight: 700;
}
.link{
   list-style: none;
   margin-right: 16px;
}

.nav{
   text-decoration: none;
   font-size: 1.25rem;
   font-weight: 700;
}
#home{
   color: #FEA301;
}
#about{
   color: #01ACFD;
}
#facilities{
   color: #05D4DF;
}
#admission{
   color: #5D58EF;
}
.btn-container{
   margin-top: 10px;
   align-items: center;
}
.btn-1{
   width: 100px;
   padding: 10px 10px;
   background-color: #FEA301;
   color: white;
   border-radius: 8px;
   border:none;
   font-weight: 700;
}
/* Banner design */
.banner{
   margin-top: 15px;
   justify-content: space-between;
   align-items: center;
   gap: 50px;
   max-width: 1158px;
   height: 575px;
   margin-bottom: 60px;
}
.banner-text-container{
   width: 640px;
   height: 331px;
}
.banner-title{
   font-size: 3.5rem;
   font-weight: 700;
   line-height: 3rem;

}
#empower{
   color: #FEA301;
}
#vision{
   color: #01ACFD;
}
.banner-description{
 font-size: 1.2rem;  
 margin-top: 10px;
 font-weight: 100;
 color: black;
}
#enroll{
   background-color: black;
}
.image-1{
   height: 575px;
   justify-content: center;
}
.curriculum{
   margin-top: 60px;
}
.curriculum-header{
   font-size: 2.9rem;
   font-weight: bold;
   text-align: center;
}
.card-container{
   justify-content: space-between;
   gap: 24px;
}
.card-1{
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 8px;
   background: linear-gradient(
      180deg,
      #DEF5FF 0%,
      #FFFFFF 60%
   );
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}
.card-header{
   font-size: 1.5rem;
   font-weight: bold;
   line-height: 30.7px;
}
.card-description{
   font-size: 1rem;
   font-weight: 100;
   line-height: 28.3px;
   text-align: center;
}
.read-1{
   font-size: 1rem;
   text-decoration: none;
   font-weight: bold;
   color:#64C8FF;
   padding-bottom: 50px;
}

.card-2{
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 8px;
   background: linear-gradient(
      180deg,
      #FFF4DC 0%,
      #FFFFFF 60%
   );
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}
.read-2{
   font-size: 1rem;
   text-decoration: none;
   font-weight: bold;
   color: #F0AA00;
   padding-bottom: 50px;
}
.card-3{
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 8px;
   background: linear-gradient(
      180deg,
      #F2E8FF 0%, 
      #FFFFFF 60%
   );
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}
.read-3{
   font-size: 1rem;
   text-decoration: none;
   font-weight: bold;
   color: #8700ff;
   margin-bottom: 50px;
}
.box{
   justify-content: center;
   gap: 25px;
}
.box{
   margin-top: 50px;
   gap: 10px;
   margin-bottom: 50px;
}
.btn-3{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   background-color: #F0AA00;
   color: white;
}
/* Stories Section */
.stories{
   margin-top: 60px;
   height: 1040px;
   width: 1440px;
}
.stories-container{
   width: 1160px;
   height: 650px;
   gap: 10px;
}
.stories-header{
   font-size: 2.9rem;
   font-weight: bold;
   
}
.story-card-container{
   height: 630px;
   width: 545px;
   margin-top: 90px;
}
.btn-4{
   color:#FFFFFF;
   background-color: #95B226;
   border-radius: 48px;
   height: 48px;
   margin-top: -1000px;
   margin-left: 10px;
}
.card-header{
   font-size: 1.5rem;
   font-weight: bold;
   width: 402px;
   height: 70px;
}
.card-story{
   font-size: 1rem;
   font-weight: 200;
   width: 433.06px;
   height: 76px;
}
.story-card-container-2{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   height: 650px;
}
.story-card-container-20{
   height: 301px;
   width: 290px;
   margin-right: 20px;
}
/*Footer Style  */
footer{
   width: 1440px;
   height: 520px;
   background-color: #01ACFD;
   padding-top: 125px;
   padding-left: 145px;
   justify-content: center;
   align-items: center;
}

.header-container{
   height: 82px;
   width: 300px;
   justify-items: center;
   align-items: center;
}
.fotter-header{
   color: white;
   font-size: 1.8rem;  
}
.footer-des{
   width: 400px;
   height: 100px;
   color: white;
   font-size: 1rem;
}
.footer-2{
   margin-top: -15px;
   margin-left: 100px;
}
.school{
   font-size: 1.25rem;
   height: 30px;
   width: 156px;
   color: white;
   font-weight: bold;
}
.footer-list{
    margin-top: -20px;
    margin-left: -40px;
}
.footer-link{
   list-style: none;
   text-align: start;
   color: white;
}
.footer-3{
   margin-left: 100px;
   margin-top: -15px;
}
.touch{
   font-size: 1.25rem;
   color: white;
}